# 通用 IDE 配置
.idea
.vscode
*.sublime-*
__debug_bin

# 临时文件
*.swp
*.swo
*~

# 敏感信息防护
*.env
!example.env
*.key
*.pem

# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 日志与临时数据
*.log
/logs/          # 日志目录
/tmp/           # 临时文件

# ===== 编译产物 =====
/bin #一般编译到bin目录
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
*.a

!.gitkeep